<!DOCTYPE html>
<title>Login</title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <h1 style="font-family:monospace">Login</h1>
</head>
<body>

    <div class = "login">
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td style="font-family:monospace;font-size: large;">Username: </td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                        
                <tr>
                    <td style="font-family:monospace;font-size: large;">Password: </td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>
    
                <tr>
                    <td></td>
                    <td><input style="font-family:monospace;font-size: large;"" class="btn login_btn" type="submit" value="Login"></td>
                </tr>
            </table>
        </form>
    
        {% if messages %}
            <ul >
                {% for message in messages %}
                    <li style="font-family:monospace;font-size: large;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
            
        Belum mempunyai akun? <a style="font-family:monospace;font-size: large;"" href="{% url 'wishlist:register' %}">Buat Akun</a>
    
    </div>
</body>

</html>